body{
    margin: 0;
    padding: 0;
}

/* Body header */

#body-header{
    height: 65vh;
    opacity: 0.7;
    background-image: url(images/background-image.jpg);
    filter: blur(0px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


/* Nav-menu container */

.toggle-btn{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



.horizontal-list{
    
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.horizontal-list li{
    margin-top: 15px;
}

.horizontal-list li a{
    
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 0px 10px;
    transition: color 0.5s;
}

.nav-menu li a{
    transition: border-bottom 0.5s ease-in-out;
}

.nav-menu li a:hover{
    border-bottom: 1.5px solid grey;
}

.horizontal-list li a:hover{
    color: lightgrey;
}

.text-center{
    text-align: center;
}

/* Name Container */
.name-container{
    color: white;
    font-family: sans-serif;
    font-weight: light;
    font-size: 3rem;
    
}
.name-container h2{
    margin-top: 90px;
}
/* Social icons */
.social-icons li a i{
    padding: 10px;
    border-radius: 50%;
} 

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px lightgrey;
    border-bottom: none;
}

/* General Section Styling*/

section{
    width: 100%;
    /* height: 75vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: lightgrey;
}
section:nth-child(2n+1){
    background-color: white;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    
}
.section-heading span{
    font-size: 40px;
    font-family: Arial;
    display: inline-block;
    padding-top: 10px;
    color: #2857a4;
    font-weight: 300;
    margin-right: 1rem;
}


/********************* About Section *****************************/

#about{
    height: auto;
    width: 100%;
    position: relative;
}

/* Styling display Picture */

#display-picture{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -13vh;
    
}

#display-picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px grey;
    
    
}

/* About text */

#about-text-container{
    margin-top: 30px;
    width: 70%;
    height: auto;
    /* margin-left: 18%; */
}

#about-text{
    font-family: sans-serif;
    font-size: 25px;
}

.text-highlight{
    font-weight: bolder;
    color: rgb(42, 122, 243);
}

/* Skills section */

.skills-display{
    margin-top: 28px;
    padding: 20px 0px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.skill-progress{
    
    width: 13rem;
    height: 2rem;
    background-color: white;
    border-radius: 50px;
    margin: 20px;
    box-shadow: 0px 0px 5px 2px grey;
}

.skill-progress>div{
    border-radius: 50px 0px 0px 50px;
}

.skill-name{
    padding: 5px 0px;
}

.skill-name span{
    color: white;
    margin-left: 10px;
}


/* colors of skill-bar */

.mb-blue{
    background-color: #2857a4;
}

.mb-pink{
    background-color: pink;
}
.mb-orange{
    background-color: tomato;
}
.mb-violet{
    background-color: violet
}

/* percentage-bar */

.sixty-five-percent{
    height: inherit;
    width: 65%;
}


.sixty-percent{
    height: inherit;
    width: 60%;
}

.seventy-percent{
    height: inherit;
    width: 70%;
}

.eight-five-percent{
    height: inherit;
    width: 85%;
}
.mb75px{
    margin-top: 35px;
}
/* portfolio section */
.portfolio-container{
    display: flex;
    margin-top: 28px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px;
    width: 90%;
}
.portfolio-image-container{
    position: relative;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    background-size: cover;
    margin: 10px;
}
 .portfolio-image-container img{
    width: 100%;
    height: 100%;
 }
 
.portfolio-details{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    color: transparent;
    transition: all 0.5s ease-in-out;
    text-align: center;
    padding: 10px;
    padding-top: 23px;
    font-family: Arial;
    font-size: 2rem;
}

.portfolio-image-container:hover{
    box-shadow: 0px 0px 20px #74ADC8;
}  
.portfolio-image-container:hover .portfolio-details{
    background-color: #80808078;
    color: white;
}
/* work-experience section */

.timeline{
    position: relative;
    width: 70%;
}

.timeline-box{
    position: relative;
    padding: 10px;
    width: 40%;
    margin: 5px;
    left: 5%;
    min-height: 150px;
}

.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background-color: grey;
    border-radius: 50%;
    top: 37%;
    right: -7.9%;
    z-index: 1;
}
.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background-color: grey;
    border-radius: 50%;
    top: 37%;
    left: -8.8%;
    z-index: 1;
}

.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0px;
    border: 3px dashed rgb(116, 177, 218);
    top: 10%;
    left: 50%;
}
.time-traveller{
    font-size: 2rem;
    transform: rotate(90deg);
    position: sticky;
    top: 25%;
    color: rgb(6, 67, 138);
    z-index: 2;
}



/* styling the timeline boxes */
.box-header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.institution-logo{
    height: 5rem;
    width: 5rem;

}
.institution-logo img{
    height: 100%;
    width: 100%;
}
.info span{
    display: block;
    position: relative;
}
.degree-name{
    font-size: 1.6rem;
    /* right: 0%; */
    font-family: Arial;
    color: #2857a4;
}
.institute-name{
    font-size: 1.4rem;
    font-family: Arial;
    color: orange;
}
.time-period{
    font-size: 1.2rem;
    font-family: Arial;
    color: grey;
}
.description{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}



/* contact Section */
/* Setting up the gradient */
#contact{
 background: linear-gradient(50deg,#2857a4 0%,#403066 74%);
}

.white-color{
    color: white;
}

.contact-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.form-container{
    padding: 50px;
}

.contact-container .form-container form input{
    display: block;
}

/* Styling the form in contact section */
form input{
    background: transparent;
    height: 3rem;
    width: 30rem;
    color: white;
    font-size: 1rem;
    font-family: Arial;
    border-style: hidden;
    border-bottom: 2px solid white;
    margin-bottom: 9px;
    padding: 10px;
    outline: none;
}

form input::placeholder{
    color: white;
}
#text-message{
    background: transparent;
    border-style: hidden;
    font-size: 1rem;
    width: 30rem;
    margin-top: 9px;
    border-bottom: 2px solid white;
    font-size: 1rem;
    font-family: Arial;
    padding: 10px;
    outline: none;
    color: white;
}
#text-message::placeholder{
    color: white;
    
}
form button{
    margin: 20px;
    margin-left: 130px;
    box-shadow: 0px 0px 1px 2px white;
}
/* styling the submit button */
#submit-btn{
    background: transparent;
    color: white;  
    padding: 10px;
    font-size: 1.2rem;
    font-family: sans-serif;

}


/* styling the message side */
.message-container{
    margin-left: 10px;
}
.message-container{
    color: white;
    padding: 50px;
    font-family: sans-serif;
}
ul{
    list-style: none;
}
ul li div{
    display: inline-block;
}
ul li{
    margin: 10px;
}
.icon{
    font-size: 1.5rem;
}
ul li i{
    padding: 10px;
    width: 20px;
}
/* applying media query to skills section */
@media screen and (max-width: 900px) {
    .skill-progress{
        margin-left: 7rem;
    }
}

@media screen and (max-width: 600px) {
    .skill-progress{
        margin-left: 5rem;
    }
}




/* applying media query to contact */

@media screen and (max-width: 1000px) {
    
    .timeline-divider{
        left: 5%;
    }

    .timeline-box{
        left: 12% !important;
        width: 80%;

    }
    .timeline-box::after{
        left: -10.5% !important;
    }
    .info span{
        font-size: 0.8rem !important;
    }
    .institution-logo{
        margin-right: 10px;
    }
    .contact-container{
        flex-wrap: wrap;
        padding: 10px;
    }
    .contact-container{
        width: 90%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        
    }
}
@media screen and (max-width: 600px) {

    

    .contact-container{
        flex-wrap: wrap;
        padding: 10px;
    }
    .contact-container{
        width: 90%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        
    }
    .form-container{
        width: 90%;
    }
    .form-container input{
        height: 4rem;
        width: 20rem;
        padding: 20px 10px;
    }

    .form-container #text-message{
        /* height: 6rem; */
        width: 20rem;
        padding: 10px;
    }
    #submit-btn{
        margin-left: 5rem;
    }
    
}



