body{
    margin: 0;
    padding: 0;
}

/* Body header */

#body-header{
    height: 65vh;
    opacity: 0.7;
    background-image: url(images/background-image.jpg);
    filter: blur(0px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/* Nav-menu container */

.horizontal-list{
    
    list-style: none;
    padding-left: 0px;
}

.horizontal-list li{
    margin-top: 15px;
    display: inline-block;
    
}

.horizontal-list li a{
    
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 0px 10px;
    transition: color 0.5s;
}

.nav-menu li a{
    transition: border-bottom 0.5s ease-in-out;
}

.nav-menu li a:hover{
    border-bottom: 1.5px solid grey;
}

.horizontal-list li a:hover{
    color: lightgrey;
}

.text-center{
    text-align: center;
}

/* Name Container */
.name-container{
    color: white;
    font-family: sans-serif;
    font-weight: light;
    font-size: 3rem;
    
}
.name-container h2{
    margin-top: 90px;
}
/* Social icons */
.social-icons li a i{
    padding: 10px;
    border-radius: 50%;
} 

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px lightgrey;
    border-bottom: none;
}

/* General Section Styling*/

section{
    width: 100%;
    /* height: 75vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: lightgrey;
}
section:nth-child(2n+1){
    background-color: white;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    
}
.section-heading span{
    font-size: 40px;
    font-family: Arial;
    display: inline-block;
    padding-top: 10px;
    color: #2857a4;
    font-weight: 300;
    margin-right: 1rem;
}


/********************* About Section *****************************/

#about{
    height: auto;
    width: 100%;
    position: relative;
}

/* Styling display Picture */

#display-picture{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -13vh;
    
}

#display-picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px grey;
    
    
}

/* About text */

#about-text-container{
    margin-top: 30px;
    width: 70%;
    height: auto;
    /* margin-left: 18%; */
}

#about-text{
    font-family: sans-serif;
    font-size: 25px;
}

.text-highlight{
    font-weight: bolder;
    color: rgb(42, 122, 243);
}

/* Skills section */

.skills-display{
    margin-top: 28px;
    padding: 20px 0px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.skill-progress{
    
    width: 13rem;
    height: 2rem;
    background-color: white;
    border-radius: 50px;
    margin: 20px;
    box-shadow: 0px 0px 5px 2px grey;
}

.skill-progress>div{
    border-radius: 50px 0px 0px 50px;
}

.skill-name{
    padding: 5px 0px;
}

.skill-name span{
    color: white;
    margin-left: 10px;
}


/* colors of skill-bar */

.mb-blue{
    background-color: #2857a4;
}

.mb-pink{
    background-color: pink;
}
.mb-orange{
    background-color: tomato;
}
.mb-violet{
    background-color: violet
}

/* percentage-bar */

.sixty-five-percent{
    height: inherit;
    width: 65%;
}


.sixty-percent{
    height: inherit;
    width: 60%;
}

.seventy-percent{
    height: inherit;
    width: 70%;
}

.eight-five-percent{
    height: inherit;
    width: 85%;
}

